<!--{% extends 'base.html' %}--> #TODO

<!--{% block content %}-->
<!--    <div class="container m-4">-->
<!--        <div class="card" style="width: 28rem;">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Редактировать</h5>-->
<!--        <p class="card-text">-->
<!--            <form action="" method="post">-->
<!--		   {% csrf_token %}-->
<!--                {% for i in form %}-->
<!--                    <p id="items">{{i}}  {{i.author}}</p>-->
<!--                {% endfor %}-->
<!--                <input type="submit" class="btn btn-primary" value="Сохранить">-->
<!--            </form>-->
<!--        </p>-->
<!--      </div>-->
<!--        </div>-->
<!--    </div>-->
<!--{% endblock %}-->
