{% extends 'base.html' %}

{% block content %}

<center>
    <div class="container m-2">
        <div class="card" style="width: 45rem; background-color: #DCDCDC">
            <img src="{{recipe_detail.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-text"> {{recipe_detail.title}} </h3>
                <h4 class="card-text"> {{recipe_detail.ingredients}} </h4>
                <p class="card-text"> {{recipe_detail.description}} </p>
            </div>
        </div>
    </div>
</center>

{% endblock %}